In [2]:
import numpy as np
import pandas as pd

In [114]:
delivery=pd.read_csv('deliveries.csv')

In [118]:
mask=delivery['over']>=16 
death=delivery[mask]
death.sort_values('batsman')

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
98553,416,1,Sunrisers Hyderabad,Rajasthan Royals,18,5,A Ashish Reddy,DJG Sammy,STR Binny,0,...,0,0,0,0,0,0,0,A Ashish Reddy,caught,AM Rahane
91885,388,2,Sunrisers Hyderabad,Royal Challengers Bangalore,17,6,A Ashish Reddy,GH Vihari,M Kartik,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
91884,388,2,Sunrisers Hyderabad,Royal Challengers Bangalore,17,5,A Ashish Reddy,GH Vihari,M Kartik,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
91883,388,2,Sunrisers Hyderabad,Royal Challengers Bangalore,17,4,A Ashish Reddy,GH Vihari,M Kartik,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
91881,388,2,Sunrisers Hyderabad,Royal Challengers Bangalore,17,2,A Ashish Reddy,GH Vihari,M Kartik,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16358,70,1,Royal Challengers Bangalore,Rajasthan Royals,20,3,Z Khan,R Vinay Kumar,SR Watson,0,...,0,0,1,0,1,1,2,NaN,NaN,NaN
16356,70,1,Royal Challengers Bangalore,Rajasthan Royals,20,1,Z Khan,P Kumar,SR Watson,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
16352,70,1,Royal Challengers Bangalore,Rajasthan Royals,19,3,Z Khan,P Kumar,SK Trivedi,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
29781,128,2,Mumbai Indians,Deccan Chargers,20,4,Z Khan,PR Shah,RP Singh,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
16340,70,1,Royal Challengers Bangalore,Rajasthan Royals,17,3,Z Khan,P Kumar,Sohail Tanvir,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN

In [120]:
death=pd.merge(death,ball_final,on='batsman',how='outer')
death

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,ball_counts
0,346,1,Deccan Chargers,Mumbai Indians,16,1,A Ashish Reddy,JP Duminy,MM Patel,0,...,0,0,0,0,0,0,NaN,NaN,NaN,148
1,346,1,Deccan Chargers,Mumbai Indians,16,2,A Ashish Reddy,JP Duminy,MM Patel,0,...,0,0,0,0,0,0,A Ashish Reddy,caught,RG Sharma,148
2,352,2,Deccan Chargers,Chennai Super Kings,19,5,A Ashish Reddy,DT Christian,DJ Bravo,0,...,0,0,0,1,0,1,NaN,NaN,NaN,148
3,352,2,Deccan Chargers,Chennai Super Kings,20,3,A Ashish Reddy,DT Christian,BW Hilfenhaus,0,...,0,0,0,2,0,2,NaN,NaN,NaN,148
4,352,2,Deccan Chargers,Chennai Super Kings,20,4,A Ashish Reddy,DT Christian,BW Hilfenhaus,0,...,0,0,0,0,0,0,A Ashish Reddy,caught,M Vijay,148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33732,578,1,Delhi Daredevils,Kolkata Knight Riders,18,4,Z Khan,NM Coulter-Nile,JW Hastings,0,...,0,0,0,0,0,0,Z Khan,caught,MK Pandey,109
33733,623,2,Delhi Daredevils,Mumbai Indians,19,1,Z Khan,S Nadeem,JJ Bumrah,0,...,0,0,0,0,0,0,NaN,NaN,NaN,109
33734,623,2,Delhi Daredevils,Mumbai Indians,19,2,Z Khan,S Nadeem,JJ Bumrah,0,...,0,0,0,1,0,1,NaN,NaN,NaN,109
33735,623,2,Delhi Daredevils,Mumbai Indians,19,4,Z Khan,S Nadeem,JJ Bumrah,0,...,0,0,0,1,0,1,NaN,NaN,NaN,109
33736,623,2,Delhi Daredevils,Mumbai Indians,20,1,Z Khan,S Nadeem,KH Pandya,0,...,0,0,0,0,0,0,Z Khan,bowled,NaN,109

In [129]:
death_final=death[['batsman','ball_counts']]
death_final

              batsman  ball_counts
0      A Ashish Reddy          148
1      A Ashish Reddy          148
2      A Ashish Reddy          148
3      A Ashish Reddy          148
4      A Ashish Reddy          148
...               ...          ...
33732          Z Khan          109
33733          Z Khan          109
33734          Z Khan          109
33735          Z Khan          109
33736          Z Khan          109

[33737 rows x 2 columns]

In [130]:
death_final.drop_duplicates('ball_counts')

               batsman  ball_counts
0       A Ashish Reddy          148
148         A Chandila            7
155           A Chopra            2
157        A Choudhary           20
177         A Flintoff           18
...                ...          ...
31716          WP Saha          295
32079          Y Nagar          135
32214  Y Venugopal Rao          260
32475        YK Pathan          584
33112     Yuvraj Singh          516

[163 rows x 2 columns]

In [138]:
mask3=death_final['ball_counts']>199
ball3=death_final[mask3].drop_duplicates('batsman').set_index('batsman')
ball3

                  ball_counts
batsman
A Mishra                  225
AB de Villiers            570
AD Mathews                289
AM Nayar                  200
AM Rahane                 268
AR Patel                  229
AT Rayudu                 425
BJ Hodge                  385
DA Miller                 360
DA Warner                 228
DJ Bravo                  409
DJ Hussey                 234
DPMD Jayawardene          246
Harbhajan Singh           418
IK Pathan                 465
JA Morkel                 425
JH Kallis                 231
JP Duminy                 518
JP Faulkner               294
KA Pollard                838
KD Karthik                463
KM Jadhav                 338
LRPL Taylor               204
MK Pandey                 224
MK Tiwary                 423
MS Dhoni                 1224
NV Ojha                   304
P Kumar                   268
PP Chawla                 311
R Vinay Kumar             235
RA Jadeja                 576
RG Sharma                 748
RV Uthappa                275
S Badrinath               283
S Dhawan                  243
SK Raina                  458
SPD Smith                 316
SS Tiwary                 300
STR Binny                 218
V Kohli                   546
WP Saha                   295
Y Venugopal Rao           260
YK Pathan                 584
Yuvraj Singh              516

In [160]:
runs

batsman
A Ashish Reddy    214
A Chandila          4
A Chopra            1
A Choudhary        25
A Flintoff         25
                 ...
YS Chahal          15
YV Takawale        29
Yashpal Singh      17
Yuvraj Singh      883
Z Khan            108
Name: batsman_runs, Length: 416, dtype: int64

In [163]:
mask=(death['over']>=16) & (death['ball_counts']>199)
death=death[mask]
df=death.sort_values('batsman')
df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,ball_counts
239,5,2,Delhi Daredevils,Royal Challengers Bangalore,17,3,A Mishra,RR Pant,SR Watson,0,...,0,0,0,0,0,0,NaN,NaN,NaN,225
382,292,1,Deccan Chargers,Mumbai Indians,19,3,A Mishra,S Dhawan,DS Kulkarni,0,...,0,0,0,0,3,3,NaN,NaN,NaN,225
383,292,1,Deccan Chargers,Mumbai Indians,19,4,A Mishra,S Dhawan,DS Kulkarni,0,...,0,0,0,1,0,1,NaN,NaN,NaN,225
384,292,1,Deccan Chargers,Mumbai Indians,19,6,A Mishra,S Dhawan,DS Kulkarni,0,...,0,0,0,1,0,1,NaN,NaN,NaN,225
385,292,1,Deccan Chargers,Mumbai Indians,20,3,A Mishra,S Dhawan,MM Patel,0,...,0,0,0,4,0,4,NaN,NaN,NaN,225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33275,161,2,Kings XI Punjab,Delhi Daredevils,16,1,Yuvraj Singh,KC Sangakkara,PJ Sangwan,0,...,0,0,0,0,0,0,NaN,NaN,NaN,516
33274,149,2,Kings XI Punjab,Chennai Super Kings,18,6,Yuvraj Singh,DPMD Jayawardene,L Balaji,0,...,0,0,0,4,0,4,NaN,NaN,NaN,516
33273,149,2,Kings XI Punjab,Chennai Super Kings,18,5,Yuvraj Singh,DPMD Jayawardene,L Balaji,0,...,0,0,0,0,0,0,NaN,NaN,NaN,516
33303,205,1,Kings XI Punjab,Royal Challengers Bangalore,18,4,Yuvraj Singh,RS Bopara,JH Kallis,0,...,0,0,0,0,0,0,Yuvraj Singh,caught,CL White,516
33627,636,1,Sunrisers Hyderabad,Royal Challengers Bangalore,17,2,Yuvraj Singh,BCJ Cutting,CJ Jordan,0,...,0,0,0,0,0,0,Yuvraj Singh,caught,SR Watson,516

In [188]:
total_runs=df.groupby('batsman')['batsman_runs'].sum()

In [189]:
balls_counts=df.groupby('batsman')['ball_counts'].count()
ballf

batsman
A Mishra             225
AB de Villiers       570
AD Mathews           289
AM Nayar             200
AM Rahane            268
AR Patel             229
AT Rayudu            425
BJ Hodge             385
DA Miller            360
DA Warner            228
DJ Bravo             409
DJ Hussey            234
DPMD Jayawardene     246
Harbhajan Singh      418
IK Pathan            465
JA Morkel            425
JH Kallis            231
JP Duminy            518
JP Faulkner          294
KA Pollard           838
KD Karthik           463
KM Jadhav            338
LRPL Taylor          204
MK Pandey            224
MK Tiwary            423
MS Dhoni            1224
NV Ojha              304
P Kumar              268
PP Chawla            311
R Vinay Kumar        235
RA Jadeja            576
RG Sharma            748
RV Uthappa           275
S Badrinath          283
S Dhawan             243
SK Raina             458
SPD Smith            316
SS Tiwary            300
STR Binny            218
V Kohli              546
WP Saha              295
Y Venugopal Rao      260
YK Pathan            584
Yuvraj Singh         516
Name: ball_counts, dtype: int64

In [192]:
sr=(total_runs/balls_counts)*100
sr.sort_values(ascending=False)

batsman
AB de Villiers      211.052632
DA Warner           189.473684
DA Miller           186.666667
V Kohli             181.868132
RG Sharma           175.668449
DJ Hussey           175.213675
RV Uthappa          173.454545
Yuvraj Singh        171.124031
JH Kallis           170.562771
MS Dhoni            169.607843
SPD Smith           169.303797
JP Duminy           167.760618
DJ Bravo            167.726161
SK Raina            167.467249
AT Rayudu           165.411765
WP Saha             163.389831
KA Pollard          161.336516
YK Pathan           159.246575
S Dhawan            158.847737
BJ Hodge            157.402597
AM Nayar            155.000000
AM Rahane           152.985075
LRPL Taylor         152.941176
KD Karthik          152.051836
DPMD Jayawardene    152.032520
MK Pandey           151.785714
JA Morkel           149.882353
JP Faulkner         149.319728
S Badrinath         149.116608
Y Venugopal Rao     148.846154
Harbhajan Singh     147.607656
AD Mathews          147.058824
KM Jadhav           144.378698
STR Binny           144.036697
AR Patel            142.794760
IK Pathan           142.580645
MK Tiwary           140.189125
SS Tiwary           136.666667
NV Ojha             134.868421
RA Jadeja           130.729167
PP Chawla           120.257235
P Kumar             109.701493
R Vinay Kumar       108.936170
A Mishra            100.888889
dtype: float64